# Debian GNU/Linux 13 system (codename “trixie”)
# https://www.debian.org


iso_pattern1="debian-13.*.0-amd64-DVD-1.iso"
iso_pattern2="debian-13.*.0-amd64-netinst.iso"

for isofile in ($dev,*)$iso_dir/$iso_pattern1 ($dev,*)$iso_dir/$iso_pattern2; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname [scandev] ->" "$isofile" "$iso_dir/$isoname" {
			iso_path="$3"
            export iso_path
			LOOPBACK "$2"
			addon="/MultiOS-USB/config_priv/debian-scandev/scandev-13.7.0.gz"
            export addon

menuentry --hotkey=g 'Graphical install' {
    linux    (loop)/install.amd/vmlinuz vga=788 findiso=${iso_path} --- quiet 
    initrd   (loop)/install.amd/gtk/initrd.gz $addon
}
menuentry --hotkey=i 'Install' {
    linux    (loop)/install.amd/vmlinuz vga=788 findiso=${iso_path} --- quiet 
    initrd   (loop)/install.amd/initrd.gz $addon
}
submenu --hotkey=a 'Advanced options ...' {
    menuentry '... Graphical expert install' {    
        linux    (loop)/install.amd/vmlinuz priority=low vga=788 findiso=${iso_path} --- 
        initrd   (loop)/install.amd/gtk/initrd.gz $addon
    }
    menuentry '... Graphical rescue mode' {    
        linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true findiso=${iso_path} --- quiet  
        initrd   (loop)/install.amd/gtk/initrd.gz $addon
    }
    menuentry '... Graphical automated install' {    
        linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 findiso=${iso_path} --- quiet 
        initrd   (loop)/install.amd/gtk/initrd.gz $addon
    }
    menuentry --hotkey=x '... Expert install' {    
        linux    (loop)/install.amd/vmlinuz priority=low vga=788 findiso=${iso_path} --- 
        initrd   (loop)/install.amd/initrd.gz $addon
    }
    menuentry --hotkey=r '... Rescue mode' {    
        linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true findiso=${iso_path} --- quiet 
        initrd   (loop)/install.amd/initrd.gz $addon
    }
    menuentry --hotkey=a '... Automated install' {    
        linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 findiso=${iso_path} --- quiet 
        initrd   (loop)/install.amd/initrd.gz $addon
    }
    submenu --hotkey=s '... Speech-enabled advanced options ...' {
        menuentry --hotkey=x '... Expert speech install' {        
            linux    (loop)/install.amd/vmlinuz priority=low vga=788 speakup.synth=soft findiso=${iso_path} --- 
            initrd   (loop)/install.amd/gtk/initrd.gz $addon
        }
        menuentry --hotkey=r '... Rescue speech mode' {        
            linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true speakup.synth=soft findiso=${iso_path} --- quiet  
            initrd   (loop)/install.amd/gtk/initrd.gz $addon
        }
        menuentry --hotkey=a '... Automated speech install' {        
            linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 speakup.synth=soft findiso=${iso_path} --- quiet 
            initrd   (loop)/install.amd/gtk/initrd.gz $addon
        }
    }
}
submenu --hotkey=d 'Accessible dark contrast installer menu ...' {
    menuentry --hotkey=g '... Graphical install' {    
        linux    (loop)/install.amd/vmlinuz vga=788 theme=dark findiso=${iso_path} --- quiet 
        initrd   (loop)/install.amd/gtk/initrd.gz $addon
    }
    menuentry --hotkey=i '... Install' {    
        linux    (loop)/install.amd/vmlinuz vga=788 theme=dark findiso=${iso_path} --- quiet 
        initrd   (loop)/install.amd/initrd.gz $addon
    }
    submenu --hotkey=a '... Advanced options ...' {    
        menuentry '... Graphical expert install' {        
            linux    (loop)/install.amd/vmlinuz priority=low vga=788 theme=dark findiso=${iso_path} --- 
            initrd   (loop)/install.amd/gtk/initrd.gz $addon
        }
        menuentry '... Graphical rescue mode' {        
            linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true theme=dark findiso=${iso_path} --- quiet 
            initrd   (loop)/install.amd/gtk/initrd.gz $addon
        }
        menuentry '... Graphical automated install' {        
            linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 theme=dark findiso=${iso_path} --- quiet 
            initrd   (loop)/install.amd/gtk/initrd.gz $addon
        }
        menuentry --hotkey=x '... Expert install' {        
            linux    (loop)/install.amd/vmlinuz priority=low vga=788 theme=dark findiso=${iso_path} --- 
            initrd   (loop)/install.amd/initrd.gz $addon
        }
        menuentry --hotkey=r '... Rescue mode' {        
            linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true theme=dark findiso=${iso_path} --- quiet 
            initrd   (loop)/install.amd/initrd.gz $addon
        }
        menuentry --hotkey=a '... Automated install' {        
            linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 theme=dark findiso=${iso_path} --- quiet 
            initrd   (loop)/install.amd/initrd.gz $addon
        }
    }
}
menuentry --hotkey=s 'Install with speech synthesis' {
    linux    (loop)/install.amd/vmlinuz vga=788 speakup.synth=soft findiso=${iso_path} --- quiet 
    initrd   (loop)/install.amd/gtk/initrd.gz $addon
}
}
fi
done
